dist: xenial
if: tag is blank and (type != 'pull_request')
install: skip
script:
  - ./.travis/run_optipng
  - ./.travis/zip_assets
  - ./.travis/push_tag
deploy:
  provider: releases
  api_key: "$BOT_AUTH_TOKEN"
  file_glob: true
  file: artifacts/*
  skip_cleanup: true
  name: $TRAVIS_BUILD_NUMBER
  on: {tags: false, branch: master}

